### Compiled & Build Artifacts (빌드 결과물 및 컴파일 파일) ###
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
/build/
.gradle/
bin/
out/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/bin/
!**/src/test/**/bin/
!**/src/main/**/out/
!**/src/test/**/out/

### Environment & Secrets (보안 및 환경 설정) ###
.env
HELP.md

### Database & Storage (데이터베이스 및 데이터 파일) ###
postgres_data/

### IDE Settings (개발 도구 설정) ###
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
# STS & Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
# VS Code
.vscode/
# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Logs & Crash Reports (로그 및 오류 보고서) ###
*.log
logs/
hs_err_pid*
replay_pid*

### OS & Others (운영체제 및 기타) ###
.DS_Store
Thumbs.db
.mtj.tmp/
*.ctxt